In [1]:
# the command line for print in python is print() . it doesnt have to be terminated by semicolon as in JAVA and take the print command System.out.println();
print("Hello world!")

Hello world!

In [8]:
# if (conditional) statement have to be terminated by a colon and the boolean expression doesnt have to be written in between parenthesis
if 3 >= 3:
    print("3 is an integer!")
if 3 <= 2:
    print("2 is an even number!")

3 is an integer!

In [ ]:
# in python, line statements are initiated with # while block statements can be written in between multiline string (""")

In [9]:
# introduction to genetics by Dr Obed 
print("Welcome mr Obed!")
"""
Genetics is the study of individual genes and their implication in diseases 
Genomics is the study of the whole human gene, individually, their interaction 
with one another, the environment and the implication in diseases.
"""
print("In no time, you will become a bioinformatician that is sort for across nations and is appealed to name your salary and dictate your schedule!")

Welcome mr Obed!
In no time, you will become a bioinformatician that is sort for across nations and is appealed to name your salary and dictate your schedule!

In [12]:
x = 8 # x is an int data type
y = 'R' # y is a character data type
print( x "&" y)

SyntaxError: invalid syntax (<ipython-input-12-df4528cfcb5b>, line 3)

In [13]:
x = 4
y = "Rofiah"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [14]:
"""
there are different ways for writing a variable: camel case - where each word except the first word
begins with a capital letter. eg myNewAge. snake case where each word is separated by a semicolon eg 
my_new_age. pascal case where each word starts with a capital letter eg MyNewAge 
"""
# you can assign multiple values to multiple variables on the same line. But ensure the number of values correlates with the number of variables
x, y, z = "Rofiah", "Beejay", "Tunde"
print(x)
print(y)
print(z)

Rofiah
Beejay
Tunde

In [16]:
# you can assign a variable to multiple values on the same line
X = Y = Z = "Ebony"
print(X)
print(Y)
print(Z)

Ebony
Ebony
Ebony

In [17]:
siblings = ["Aisha", "ALiya", "Ayobami"]
a, b, c = siblings
print(a)
print(b)
print(c)

Aisha
ALiya
Ayobami

strings can be printed by including + to the print statement,but ensure to include space as a character. In the absence of space, the printed command will occur as a word and not a statement eg
A = "AYO "
B = "BAYO "
C = "CAYO "
print( A + B + C) will yield 
AYO BAYO CAYO
while 
A = "AYO"
B = "BAYO"
C = "CAYO"
print(A + B + C) will yield
AYOBAYOCAYO

to print different data types, comma should be used as a separator and not + sign. The seperator comma can also be used to in the case of the same data type
eg 
x = 5
y = Dami 
print(x, y) will yield 
5 Dami. 
while print (x + y) will yield error due to variation in data type

In [23]:
""" GLOBAL VARIABLE AND LOCAL VARIABLE
Global variable is a variable  that is effective generally while local variable is a variable that is effective 
only within a function. They both can have values assigned to the same variable and still be treated separately without 
the next over writing the previous.A global variable can be effective within a function too if the name global is added 
to it e.g.

w = "webpage"

def myfunc():
w = "world"
print("The " + w + " was created by Allah")

myfunc()

print(w + " are built by programmers")
 
will yield both:
The world was created by Allah
webpage are built by programmers
"""

u = "URACIL "
def myfunc():
    u = "UMPTEEN "
    
    print(u + "is a nitrogenous base classified as pyrimidine and is found only in RNA")
    
myfunc()

print(u + "is a nitrogenous base classified as pyrimidine and is found only in RNA")

UMPTEENis a nitrogenous base classified as pyrimidine and is found only in RNA
URACILis a nitrogenous base classified as pyrimidine and is found only in RNA

In [31]:
# data types in python
""" str "LOVE"
int 24
float 30.5
bool true
complex 34m
list ["Peace", "excitement"]
tuple ("Prosperity", "Honour")
dict {"LOVE" : "Peace", "MARRIAGE" : "Happiness"}
set {"SECURITY", "PASSION"} """

m = 43j+9
print(type(m))

#number data types can be converted to another eg
f = 23
g = float(23)
print(g)
print(type(g))
h= complex(g)
print(h)
print(type(h))
#although, a complex data type cannot be converted to another number data type

<class 'complex'>
23.0
<class 'float'>
(23+0j)
<class 'complex'>